doctype html
html  
  body 
    div(id="content")
      h1 Express 
      p Welcome to Express 
      p Fruit 
      ul(class="fruit")
        li apples 
        li Bananas 
        li Oranges 
      p Color 
      ul(class="color")
        li Red 
        li Green 
        li Blue 
                