doctype html
html  
    body 
        p Search 
        ul(class="search")
            li 
                a(href="https://google.com") Google
            li 
                a(href="https://bing.com") Bing 
            li 
                a(href="https://duckduckgo.com" target="_blank") DuckDuckGo 
